__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
.DS_Store
.venv/
venv/
outputs/

# ignore the dataset
datasets/
hf_cache/

# ignore the latex build files
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
_build/
